# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore environment variables
.env

# Ignore virtual environments
env/
venv/
.venv/

# Ignore images
*.png

# Ignore data payload files
*.csv

# Ignore trained model output
trained_models/
trained_models_bundle.zip
